@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');.nice-shadow {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.ck-editor {
  font-size: 1rem;
  line-height: 1.75;
}

.ck-editor p {
  margin-top: 1.25em;
  margin-bottom: 1.25em;
}

.ck-editor h2 {
  font-weight: 700;
  font-size: 1.5em;
  margin-top: 2em;
  margin-bottom: 1em;
  line-height: 1.3333333;
}

.ck-editor h4 {
  font-weight: 600;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  line-height: 1.5;
}

.ck-editor ol {
  list-style-type: decimal;
  padding-left: 1.625em;
}
.ck-editor li {
  padding-left: 0.375em;
}
*{
  color: #33312F;
}

p{
  font-family: "Libre Franklin", sans-serif;
  font-weight: 300;

}

b{
  font-family: "Libre Franklin", sans-serif;
}

.main-color{
  background-color: #6B5541;
}

.border-color{
  border: color 1px solid #77685A;
}

.menu-background-color{
  background-color: #E1DEDB;
}


h1,
h3{
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
h2{
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

li{ 
  list-style-type: none;
}